/* Animated Backround Settings  starts*/
.gradient-background {
    background: linear-gradient(302deg, #9fb042, #468f98, #53aa57);
    background-size: 180% 180%;
    animation: gradient-animation 9s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Animated Backround Settings  ends*/



/* Go to top starts */
.c-go-top i {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.c-go-top {
    background: none repeat scroll 0 0 padding-box #0B5D3E;
    bottom: 20px;
    border: 1px solid #468f98;
    border-radius: 4px;
    color: rgb(154, 118, 118);
    /* display: none; */
    font-size: 12px;
    opacity: 0.8;
    padding: 10px;
    position: fixed;
    right: 5%;
    text-decoration: none;
    z-index: 999;
}

.c-go-top:hover,
.c-go-top:focus,
.c-go-top:active,
.c-go-top:visited {
    color: #fff;
    outline: 0;
    text-decoration: none;
}

/* Go to top ends */




/* Navbar Starts */
#our-nav {
    background: #0b5d3e;
    border-radius: 15px;
}

#navbarNavDropdown {
    justify-content: right;
}

/* .nav-item a::after {
    content: '';
    width: 0;
    height: 1px;
    background: #ff004f;
    position: absolute;
    transition: 0.5s;
}

.nav-item a:hover::after {
    width: 100%;
} */

.nav-item a {
    font-size: 24px;
    color: #fff;
    /* padding-left: 15px; */
}

.nav-item a:hover {
    border-radius: 15px;
    background: #649A7C;
    color: #fff;
}

.btn2 {
    background: #649A7C;
    color: white;
    border-radius: 15px;
    padding: 10px;
}

.btn2 a {
    text-decoration: none;
    color: white;
}

.btn2 a:hover {
    text-decoration: none;
    color: #0B5D3E;
}

/* Navbar ends */



/* main product banner starts  */
#home {
    margin-top: 50px;
    margin-bottom: 90px;
}

.carousel-item img {
    width: 250px;
    height: 450px;
}

/* main product banner ends  */




/* product card details starts */
.my-card {
    /* position: fixed; */
    right: 20px;
    background-color: #d0f0c0;
    color: #0B5D3E;
    border-radius: 10px;
    height: 565px;
    text-align: center;
}

.my-card h3 {
    font-size: 16px;
}

.my-card h2 {
    font-size: 22px;
}

.my-card span {
    font-size: 24px;
    color: #649A7C;
}

.col .product {
    background: #0b5d3e;
    color: #FDCF45;
    padding: 20px 0px;
}

/* product card details starts */



/* product Review slide section starts */
.c-rev {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.c-img img {
    width: 125px;
    height: 125px;
    margin-left: 30%;
    border: 1px solid black;
    position: relative;
    top: 25px;
    border-radius: 100%;
}

.c-title p {
    color: #9fb042;
    text-align: center;
}

#review .title {
    color: white;
    font-size: 1em;
    font-family: 'Berkshire Swash', cursive;
    padding: 10px;
}

.c-info {
    background-color: #0B5D3E;
    width: 23vw;
    padding: 10px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    align-items: center;
    text-align: center;
    color: #fff;
}


.c-title h1 {
    color: #FDCF45;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .c-rev {
        display: flex;
        flex-direction: column;
    }

    .c-info {
        width: 70vw;
        margin-left: -60px;   
    }

    .c-img img  {
      margin-left: 50px;
    }
}
/* product Review slide section ends */




/* contct form section starts */
.contact-left {
    flex-basis: 55%;
}

.contact-right {
    flex-basis: 45%;
}

.contact-left p {
    margin-top: 30px;
    color: #0B5D3E;
    font-size: 24px;
    font-weight: bold;
}

.contact-left p i {
    color: #fff;
    margin-right: 15px;
    font-size: 30px;
    transition: transform 0.5s;
}

.social-icons {
    margin-top: 30px;
}

.sub-title span,
.footer-bottom span {
    color: #FDCF45;
}

.social-icons a {
    text-decoration: none;
    font-size: 45px;
    margin-right: 25px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover,
.contact-left p i:hover {
    color: #0B5D3E;
    transform: translate(-5px);
}

.footer-icon a:hover {
    color: #FDCF45;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    margin-left: 15px;
    border: 3px solid #0b5d3e;
}

/* contct form section ends */




/* footer section  starts */
footer {
    margin-top: 115px;
    background: #0B5D3E;
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
    background-image: url("img/nav-logo.gif");
    background-repeat: repeat-x;
}

.footer-title h1 {
    color: #FDCF45;
    font-size: 30px;
    font-weight: bolder;
}

.subscribe h1 {
    font-size: 30px;
    color: #FDCF45;
    font-weight: bolder;
}

.subscribe input {
    width: 90%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #FDCF45;
    padding-left: 10px;
    margin-left: -4px;
    margin-bottom: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.footer-links a:hover {
    color: #FDCF45;
}

.footer-links li {
    list-style: none;
    margin-left: -30px;
}

.footer-bottom .social-icons a {
    font-size: 18px;
}

.footer-top-1 {
    margin-top: 70px;
}

/* footer section  ends */

